<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-admob-sdk" version="0.24.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-admob-sdk</name>
    <description>cordova-admob-sdk</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">
        <framework src="com.google.android.gms:play-services-base:17.1.0" />
        <framework src="com.google.android.gms:play-services-basement:17.1.0" />
        <framework src="com.google.android.gms:play-services-ads:18.1.1" />
        <framework src="com.facebook.android:audience-network-sdk:5.4.1" />
        <framework src="com.google.ads.mediation:facebook:5.4.1.1" />
        
       
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <activity
          android:name="com.facebook.ads.AudienceNetworkActivity"
          android:configChanges="keyboardHidden|orientation|screenSize"
          android:exported="false" />
        <activity
          android:name="com.facebook.ads.internal.ipc.RemoteANActivity"
          android:configChanges="keyboardHidden|orientation|screenSize"
          android:exported="false"
          android:process=":adnw" />

        <service
          android:name="com.facebook.ads.internal.ipc.AdsProcessPriorityService"
          android:exported="false" />
        <service
          android:name="com.facebook.ads.internal.ipc.AdsMessengerService"
          android:exported="false"
          android:process=":adnw" />
            
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <!-- Prevents compilation error: https://developer.android.com/studio/build/multidex.html -->
        <!-- when add additional mediation plugins -->
        <dependency id="cordova-plugin-multidex" />
    </platform>

 </plugin>
